<nav>
    <ul>
        <li><a href="passiverecon.html">Passive</a></li>
        <li><a href="activerecon.html">Active</a></li>
        <li><a href="vulnerability.html">Vulnerability</a></li>
        <li><a href="enumeration.html">Enumeration</a></li>
        <li><a href="exploit.html">Exploit</a></li>
        <li><a href="post-exploration.html">Post Exploitation</a></li>
        <li><a href="covering-tracks.html">Cover Tracks</a></li>
        <li><a href="reporting.html">Reports</a></li>
        <li><a href="shodan.html">Shodan</a></li>
        <li><a href="sqlmap.html">SQLMap</a></li>
        <li><a href="nikto.html">Nikto</a></li>
    </ul>
</nav>

<style>
    nav {
        background-color: #333;
        padding: 10px;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav ul li {
        margin-right: 20px;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
    }

    nav ul li a:hover {
        background-color: #575757;
    }
</style>
